@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');


html,
body {
    margin: 0;
    padding: 0;
    background-color: #000;
    overflow-x: hidden;
    font-family: "Geologica", sans-serif;


}

* {
    box-sizing: border-box;
}

header {
    width: 100%;
    padding: 12px 20px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    font-family: "Quicksand", sans-serif;

}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav li {
    display: inline-block;
}

nav a {
    padding: 10px 16px;
    border-radius: 12px;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    font-weight: 650;
    transition: all 0.3s ease;
}

nav a:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
    background-color: #000000;
    color: #ffffff;
}


.intro {
    background-color: rgb(250, 227, 196);
    background-image: url(https://i.pinimg.com/736x/a7/c8/82/a7c88223e894759a026a53269da43286.jpg);
    height: 620px;
    background-position: top;
    background-size: cover;
    display: flex;
    padding: 20px;
    opacity: 0.9;

}

.intro-text h1 {
    color: #ffffff;
    font-size: 3cm;
    font-weight: 800;
    text-align: left;
    line-height: 1.3;
    opacity: 110%;
    text-shadow: 7px 7px 7px rgb(0, 0, 0);
}

.Titulo {
    text-align: center;
    font-size: 45px;
    letter-spacing: 5px;
    padding: 0.5cm;
}

.danca,
.artesv,
.musica,
.teatro {
    opacity: 0.8;
    display: flex;
    width: 100%;
    height: 390px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.danca {
    background-image: url(../IMG/imgmariaA/dan.jpg);
    display: flex;
    align-items: flex-end;
}

.artesv {
    background-image: url(../IMG/imgmariaA/artesv.jpg);
    display: flex;
    align-items: flex-end;
    justify-content: end;

}

.musica {
    background-image: url(../IMG/imgmariaA/msc.jpg);
    display: flex;
    align-items: flex-end;
}

.teatro {
    background-image: url(../IMG/imgmariaA/teatro.jpg);
    display: flex;
    align-items: flex-end;
    justify-content: end;
}



.danca-link,
.artesv-link,
.musica-link,
.teatro-link {
    text-decoration: none;
}

.danca-title,
.teatro-title,
.musica-title,
.artesv-title {
    display: block;
    font-size: 120px;
    font-weight: bold;
    letter-spacing: 3px;
    transition: 0.3s;
}

.danca-title {
    color: #fff;
    text-shadow: 7px 7px 7px rgb(0, 0, 0);
    padding-left: 2cm;
}

.artesv-title {
    color: rgb(255, 255, 255);
    text-shadow: 7px 7px 7px rgb(0, 0, 0);
    padding-right: 2cm;
    font-size: 2.5cm;
}

.musica-title {
    color: #fff;
    text-shadow: 7px 7px 7px rgb(0, 0, 0);
    padding-left: 2cm;
}

.teatro-title {
    color: rgb(255, 255, 255);
    text-shadow: 7px 7px 7px rgb(0, 0, 0);
    padding-right: 3cm;
}



.danca-link:hover .danca-title {
    color: #ae5dff;
}

.artesv-link:hover .artesv-title {
    color: #ff8d8d;
}

.musica-link:hover .musica-title {
    color: #ff8fdf;
}

.teatro-link:hover .teatro-title {
    color: #ffd283;
}




@media (max-width: 1080px) {


    .intro {
        height: 620px;
        background-position: top;
        background-size: cover;
        display: flex;
        padding: 20px;
        opacity: 0.9;

    }

    .intro-text h1 {
        color: #ffffff;
        font-size: 2.1cm;
        font-weight: 800;
        text-align: left;
        line-height: 1.3;
        opacity: 110%;
        text-shadow: 7px 7px 7px rgb(0, 0, 0);
    }

    .Titulo {
        text-align: center;
        font-size: 45px;
        letter-spacing: 5px;
        padding: 0.5cm;
    }

    .danca,
    .artesv,
    .musica,
    .teatro {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 100%;
        height: 300px;

    }

    .danca-link,
    .artesv-link,
    .musica-link,
    .teatro-link {
        text-decoration: none;
    }

    .danca-title,
    .teatro-title,
    .musica-title,
    .artesv-title {
        display: block;
        font-size: 2.2cm;
        font-weight: bold;
        letter-spacing: 3px;
        transition: 0.3s;
        text-align: center;
        padding: 0cm;
        margin: 0cm;
        line-height: 70px;
        padding-bottom: 20px;
    }

    nav li {
        display: flex;
        flex-direction: column;
    }
}

    @media (max-width: 700px) {


        .intro {
            height: 740px;
            background-position: top;
            background-size: cover;
            display: flex;
            padding: 20px;
            opacity: 0.9;

        }

        .intro-text h1 {
            color: #ffffff;
            font-size: 1.8cm;
            font-weight: 800;
            text-align: left;
            line-height: 1.3;
            opacity: 110%;
            text-shadow: 7px 7px 7px rgb(0, 0, 0);
        }



        .danca-title,
        .teatro-title,
        .musica-title,
        .artesv-title {
            display: block;
            font-size: 1.7cm;
            font-weight: bold;
            letter-spacing: 3px;
            text-align: center;
            padding: 0cm;
            margin: 0cm;
            line-height: 70px;
            padding-bottom: 20px;
        }

        nav li {
            display: flex;
            flex-direction: column;
        }

        header {
            width: 100%;
            padding: 12px 20px;
            background-color: #ffffff;
            display: flex;
            justify-content: center;
            font-family: "Quicksand", sans-serif;

        }

        nav ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 4px;
            width: 100%;
            height: 4cm;
        }

        nav li {
            display:flex;
            
        }

        nav a {
            padding: 2px 40px;
            border-radius: 12px;
            color: #000000;
            background-color: #ffffff;
            text-decoration: underline;
            font-weight: 650;
            transition: all 0.3s ease;
        }

        nav a:hover {
            transform: translateY(-5px) scale(1.05);
            box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
            background-color: #000000;
            color: #ffffff;
        }



    }