@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
html,
body {
    margin: 0%;
    overflow-x: hidden;
    font-family: "Geologica", sans-serif;
    background-color: #FFCCE9;
}

* {
    box-sizing: border-box;
    margin: 0%;
}

/*CABEÇALHO*/
header {
    width: 100%;
    padding: 12px 20px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    font-family: "Quicksand", sans-serif;

}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav li {
    display: inline-block;
}

nav a {
    padding: 10px 16px;
    border-radius: 12px;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    font-weight: 650;
    transition: all 0.3s ease;
}

nav a:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
    background-color: #000000;
    color: #ffffff;
}

/*CABEÇALHO*/

#cabmusi {
    background-color: #FF4388;
    height: 250px;
    width: 100%;
    padding-top: 1px;

    h1{
        font-family: "Epilogue", sans-serif;
        text-align: left;
        padding-top: 5px;
        padding: 50px;
        font-size: 150px;
        color: #ffffff;
        font-weight: bold;
    }
}

#hist {
    padding-top: 30px;
    color: #641737;
    font-size: 35px;
    text-align: center;
    letter-spacing: 15px;
    font-family: "Epilogue", sans-serif;
}

.txt1 {
    padding: 80px;
    color: #641737;
    font-size: 25px;
    text-align: left;
    font-family: "Quicksand", sans-serif;
    padding-left: 100px;
    font-weight: bold;
}

#img1 {
    background-image: url(/IMG/imganabe/hm1.PNG);
    background-repeat: no-repeat;
    width: 30%;
    height: 250px;
    padding: 150px;
}

#historiadamusica1 {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}







/*Footer*/
footer {
    background-color: black;
    width: 100%;
    height: 90px;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    color: white;
    font-size: 20px;
    padding-top: 9px;
}


/*FIM FOOTER*/