@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Geologica", sans-serif;
    background-color: #FFCCE9;
}

* {
    box-sizing: border-box;
}

.historiadamusica { 

   

}

.titulo {
    color: #641737;
    text-align: center;
    padding-top: 30px;
}

.th1{
    color: #641737;
    position: relative;
    text-align: justify;
    display: flex;
    padding-left: 90px;
    padding-top: 10px;

}

.th2{
    color: #641737;
    position: relative;
    text-align: justify;
    display: flex;
    padding-top: 10px;
    padding-left: 1100px;
   

}

.th3{
    color: #641737;
    position: relative;
    text-align: justify;
    display: flex;
    padding-left: 90px;
    padding-top: 10px;

}

.th4{
    color: #641737;
    position: relative;
    text-align: justify;
    display: flex;
    padding-top: 10px;
    padding-left: 1100px;
   

}

.th5{
    color: #641737;
    position: relative;
    text-align: justify;
    display: flex;
    padding-left: 90px;
    padding-top: 10px;

}
.titulo2 {
    color: #FF0073;
    text-align: center;
}

.musicaerudita {
    background-color: #FF7CC2;
}

.me  {
    color: beige;
    text-align: center;
    padding-top: 10px;
}

.compositores {
    display: flex;
    flex-direction: row;
    gap: 80px;
    align-items: center;
    justify-content: center;
}

.tj {
    color: #641737;
    text-align: center;
}

.mp {
    display: flex;
    flex-direction: row;
    gap: 300px;
    align-items: center;
    justify-content: center;
    padding-top: ;
}