@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
html,
body {
    margin: 0%;
    overflow-x: hidden;
    font-family: "Geologica", sans-serif;
    background-color: #FFCCE9;
}

* {
    box-sizing: border-box;
    margin: 0%;
}

/*CABEÇALHO*/
header {
    width: 100%;
    padding: 12px 20px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    font-family: "Quicksand", sans-serif;

}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav li {
    display: inline-block;
}

nav a {
    padding: 10px 16px;
    border-radius: 12px;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    font-weight: 650;
    transition: all 0.3s ease;
}

nav a:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
    background-color: #000000;
    color: #ffffff;
}

/*CABEÇALHO*/

#cabmusi {
    background-color: #FF4388;
    height: 250px;
    width: 100%;
    padding-top: 1px;

    h1{
        font-family: "Epilogue", sans-serif;
        text-align: left;
        padding-top: 5px;
        padding: 50px;
        font-size: 150px;
        color: #ffffff;
        font-weight: bold;
    }
}

/*Inicio*/
#hist {
    padding-top: 30px;
    color: #641737;
    font-size: 35px;
    text-align: center;
    letter-spacing: 15px;
    font-family: "Epilogue", sans-serif;
}
/*Inicio*/

/*PRIMEIRA PARTE CODIGO*/
/*1*/
.txt1 {
    padding: 80px;
    color: #641737;
    font-size: 25px;
    text-align: left;
    font-family: "Quicksand", sans-serif;
    padding-left: 100px;
    font-weight: bold;
}

#img1 {
    background-image: url(/IMG/imganabe/hm1.PNG);
    background-repeat: no-repeat;
    width: 30%;
    height: 250px;
    padding: 150px;
}

#historiadamusica1 {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
/*1*/
/*2*/
.txt2 {
    padding: 80px;
    color: #641737;
    font-size: 25px;
    text-align: left;
    font-family: "Quicksand", sans-serif;
    padding-left: 10px;
    font-weight: bold;
}

#img2 {
    background-image: url(/IMG/imganabe/th2.PNG);
    background-repeat: no-repeat;
    width: 30%;
    height: 250px;
    padding: 150px;
    margin: 100px;
}

#historiadamusica2 {
    display: flex;
    align-items: center;
    flex-direction: row;
}
/*2*/
/*3*/
#img3 {
    background-image: url(/IMG/imganabe/th3.PNG);
    background-repeat: no-repeat;
    width: 30%;
    height: 650px;
    padding-right: 550px;
    padding-bottom: 30px;
}
/*3*/
/*4*/
#img4 {
    background-image: url(/IMG/imganabe/th4.PNG);
    background-repeat: no-repeat;
    width: 30%;
    height: 250px;
    padding: 150px;
    margin: 100px;  
}
/*4*/
/*5*/
#img5 {
    background-image: url(/IMG/imganabe/th5.PNG);
    background-repeat: no-repeat;
    width: 30%;
    height: 450px;
    padding-right: 550px;
    padding-bottom: 30px;  
}
/*5*/
/*PRIMEIRA PARTE CODIGO*/
/*SEGUNDA PARTE CODIGO*/
#musieru {
    color: #FF0073;
    font-size: 35px;
    text-align: center;
    letter-spacing: 15px;
    font-family: "Epilogue", sans-serif;
    padding-top: 100px;
    font-weight: bold;
}

#txt3 {
        color: #ffffff;
        font-weight: bold;
        font-family: "Epilogue", sans-serif;
        text-align: center;
        padding-top: 30px;
}

#img6 {
    background-image: url(/IMG/imganabe/orq.PNG);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 450px; 
}

#fundo {
    background-color: #FF7CC2;
    width: 100%;
    height: 550px;

}
/*SEGUNDA PARTE CODIGO*/




/*Footer*/
footer {
    background-color: black;
    width: 100%;
    height: 90px;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    color: white;
    font-size: 20px;
    padding-top: 9px;
}


/*FIM FOOTER*/